---
{{- if eq (toString .Values.controller.enabled) "true"}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{include "smi-controller.fullname" .}}
  namespace: {{.Release.Namespace | quote}}
  labels:
    {{- include "smi-controller.labels" . | nindent 4}}
spec:
  {{- if not .Values.controller.autoscaling.enabled}}
  replicas: {{.Values.controller.replicaCount}}
  {{- end }}
  selector:
    matchLabels:
      {{- include "smi-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.controller.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "smi-controller.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "smi-controller.serviceAccountName" . }}
      automountServiceAccountToken: true
      securityContext:
        {{- toYaml .Values.controller.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.controller.securityContext | nindent 12 }}
          image: "{{ .Values.controller.image.repository }}:{{ .Values.controller.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.controller.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 9443
              protocol: TCP
          volumeMounts:
            - name: tls-secret
              mountPath: /tmp/k8s-webhook-server/serving-certs
          livenessProbe:
            httpGet:
              path: /healthz
              scheme: HTTPS
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              scheme: HTTPS
              port: http
          resources:
            {{- toYaml .Values.controller.resources | nindent 12 }}
          env:
            {{- toYaml .Values.controller.env | nindent 12 }}
      {{- with .Values.controller.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: tls-secret
          secret:
            secretName: {{include "smi-controller.fullname" .}}-webhook-certificate
{{- end }}
